
html{
    scroll-behavior: smooth;

}
body{
    background-color: rgb(255,251,243) ;
    color: rgb(84,62,51);
    font-size: xx-large;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color:  rgb(84,62,51);
}

.header-section {
    flex: 1;
    text-align: center;
}

.header-section.left {
    text-align: left;
}

.header-section.right {
    text-align: right;
}

button {
    background-color: transparent;
    border: 2px solid black;
    color: rgb(84,62,51);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Background on hover */
}

.container {
    display: flex;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    background-color: #f0f0f0; /* Optional: Background color for left side */
    padding: 20px;
}

.content {
    text-align: center;
}

.right-side img {
    display: block;
    width: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) )!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 20s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: 5px;
  }

.card p {
    font-size: 20px;
    padding: 20px;
}

.faq-section {
    padding: 20px;
}

.faq-section h2 {
    margin-top: 0;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    color:  rgb(84,62,51);;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.faq-answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    font-size: 16px;
}

.faq-answer p {
    margin: 0;
}


#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style for the form container */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Style for input fields */
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for buttons */
.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-close {
    background-color: #f44336;
    color: white;
}

.btn-close, .btn-submit {
    float: right;
    margin-left: 10px;
}